$primary: #ff8a00;
$secondary: #97d8ff;
$black: #212121;
$gray: #616161;

.fitting-room {
  position: relative;

  width: 100%;
  //   min-height: 90vh;

  padding-top: 20rem;

  background: url("../../public/images/backgrounds/main-bg.jpg") no-repeat;
  background-size: cover;

  .container {
    width: 100%;
    max-width: 180rem;

    padding: 0 2rem;
    margin: 0 auto;
  }
}

.fitting-room__inner {
  display: flex;
  align-items: flex-start;

  position: relative;
}

.fitting-figther {
  position: relative;

  width: 68.3rem;
  height: 68.3rem;

  margin-right: 18rem;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.fitting-slider {
  width: 100%;
  max-width: 97.6rem;
  height: 86rem;

  overflow: hidden;

  padding-left: 2.6rem;
}

.fitting-slider__parts-wrapper {
  position: relative;

  margin-bottom: 2.4rem;
}

.fitting-slider__parts {
  width: 100%;
  max-width: 18rem;
  height: 18rem;

  overflow: visible;

  margin: 0;

  .swiper-slide {
    box-sizing: border-box;

    width: 18rem;
    height: 18rem;

    border: 0.2rem solid transparent;

    user-select: none;

    &-active {
      //   background: #0b0b0b;
      border-color: #565555;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
.fitting-slider__variables-wrapper {
  position: relative;

  width: 18rem;
  height: 65rem;

  overflow: hidden;

  padding: 2.6rem 0;
}
.fitting-slider__variables {
  width: 100%;
  max-width: 18rem;
  height: 18rem;

  overflow: visible;

  margin: 0;

  .swiper-slide {
    box-sizing: border-box;

    width: 18rem;
    height: 18rem;

    border: 0.2rem solid transparent;

    user-select: none;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .swiper-slide-active {
    border-color: rgba(255, 180, 0, 0.5);
  }
}

.fittingItem-info_wrapper {
  width: 100%;
  max-width: 42.5rem;

  position: absolute;
  right: 21rem;
  top: 23rem;
}

.fittingItem-info {
  width: 100%;

  padding: 2rem 2.4rem;

  background: rgba(11, 11, 11, 0.7);
  border: 0.2rem solid #ffb400;
  backdrop-filter: blur(0.8rem);
  border-radius: 1.2rem;
}

.fittingItem-info__name {
  font-weight: 700;
  font-size: 1.8rem;

  color: #ffb400;

  margin-bottom: 1rem;
}

.fittingItem-info__descr {
  font-size: 1.8rem;
  line-height: 120%;
  color: #9c9c9c;
}

.fittingItem-info__characters {
  & li {
    font-size: 1.8rem;
    color: #d9d9d9;

    &:first-child {
      margin-top: 2rem;
    }

    span {
      //   margin-left: 0.5rem;
      color: $primary;
    }
  }

  & li + li {
    margin-top: 0.3rem;
  }
}

.fitting-room__link {
  display: block;

  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 3rem;

  letter-spacing: 0.02em;

  /// delet later

  display: flex;
  align-items: center;
  justify-content: center;

  width: 37.7rem;
  height: 8rem;

  margin: 5.6rem auto 0;

  background: $primary;
  border-radius: 0.8rem;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  z-index: 20;

  img {
    width: 1rem;
  }
}

.swiper-button-next {
  transform: rotate(180deg);
}

.fitting-slider__parts-nav {
  position: absolute;
  left: -2.6rem;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 23.2rem;
}

.fitting-slider__variables-nav {
  position: absolute;
  left: 50%;
  top: -0.8rem;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  max-height: 65.2rem;

  .swiper-button-prev {
    transform: rotate(90deg);
  }
  .swiper-button-next {
    transform: rotate(-90deg);
  }
}
